*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 10%;
    background: radial-gradient(circle, rgba(128, 128, 128, 0.863),rgba(0, 0, 0, 0.836), black,rgba(29, 3, 3, 0.858))
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.login{
    border: 1.2px solid rgba(0, 0, 0, 0.774);
    width: 200px;
    height: 250px;
    background: url("seshan.jpeg"); ;
    color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.75);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    backdrop-filter: brightness(40%);

}
form{
    display: block;
    box-sizing: border-box;
    padding: 10px;
    width: 100%;    
    height: 100%;
    backdrop-filter: brightness(40%);
    flex-direction: column;
    display: flex;
    gap: 5px;
}
h1{
    text-align: center;
    font-weight: normal;
    font-size: 24px;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
    margin: 20px;
    text-transform: uppercase;
    background: linear-gradient(90deg, #feb47b, #f0e3e0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
label{
    font-size: 6px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-left: 10px;
    background: linear-gradient(90deg,#feb47b, #f0e3e0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

input{
    background: rgba(255, 255, 255, 0.3);
    height: 23px;
    line-height: 40px;
    border-radius: 20px;
    padding: 0px 20px ;
    border: none;
    margin-bottom: 20px;
    color: white;
    border: 1.5px double black;
}
::placeholder{
    color: rgba(255, 255, 255, 0.41);
    font-size: 10px;
}
button{
    background: rgba(45, 126, 231);
    height: 25px;
    line-height: 20px;
    border-radius: 40px;
    border: 1.5px double black;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    color: white;
}
button:hover{
    background: rgba(52, 123, 215, 0.8);
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    transform: scale(1.01);
    transition: transform 1s ease-in-out;
    cursor: pointer;
    color: rgb(250, 246, 250);
}
